@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/georgia/georgia-regular.ttf") format("truetype"),
    url("../../assets/fonts/georgia/Georgia.woff2")format('woff2'),
    url("../../assets/fonts/georgia/Georgia.woff") format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/arial/arial-regular.ttf") format("truetype"),
    url("../../assets/fonts/arial/ArialMT.woff2")format('woff2'),
    url("../../assets/fonts/arial/ArialMT.woff")format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/arial/arial-italic.ttf") format("truetype"),
    url("../../assets/fonts/arial/Arial-ItalicMT.woff2")format('woff2'),
    url("../../assets/fonts/arial/Arial-ItalicMT.woff")format('woff');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

ol,
ul {
  list-style: none;
}

a:focus,
a:active {
  outline: none
}

a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0 auto;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
}

.main {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1280px;
  width: 100%;
}

.container_header {
  padding: 30px 40px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: #545454;
}

.logo__title {
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.logo__subtitle {
  font-family: 'Arial';
  font-size: 13px;
  line-height: 115.3%;
  letter-spacing: 0.1em;
  color: #292929;
}

.navigation__list {
  font-family: "Arial";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2.25rem;
}

.navigation__link {
  font-size: 15px;
  line-height: 160%;
  color: #545454;
  cursor: pointer;
  transition: 0.2s;
  padding-bottom: 3px;
}

.navigation__link:link,
.navigation__link:visited {
  color: #545454;
}

.navigation__link:hover {
  color: #292929;
}

.navigation__link:active,
.navigation__link_active,
.navigation__link:active:hover,
.navigation__link_active:hover {
  color: #292929;
  border-bottom: 3px solid #F1CDB3;
  cursor: default;
}

h3 {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

section {
  padding: 80px 40px 100px 40px;
}

.pets {
  background: #F6F6F6;
  display: flex;
  justify-content: center;
}

.container_pets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 58px;
  text-align: center;
}

.pets__cards {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.pets__card {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FAFAFA;
  border-radius: 9px;
  padding-bottom: 31px;
}

.pets__card img {
  width: 270px;
  height: 270px;
}

.pets__card span {
  padding: 30px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.pets__card:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  transition: 0.5s;
  background: #FFFFFF;
}

.button {
  font-family: "Georgia";
  border-radius: 100px;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border: 2px solid #F1CDB3;
  cursor: pointer;
  transition: 0.5s;
}

.button_bordered {
  width: 187px;
  height: 52px;
  background: #FAFAFA;
}

.pets__card:hover .button_bordered {
  background: #FDDCC4;
  border-color: #FDDCC4;
}

.pets__pagination {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.button-paginator {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #292929;
  background: #F6F6F6;
  cursor: pointer;
  transition: background 0.5s;
}

.button-paginator_current,
.button-paginator_current:hover {
  background: #F1CDB3;
  cursor: auto;
}

.button-paginator_active:hover {
  background: #FDDCC4;
  border-color: #FDDCC4;
}

.button-paginator_inactive,
.button-paginator:disabled {
  color: #CDCDCD;
  border: 2px solid #CDCDCD;
  cursor: auto;
}

.footer {
  background: url('../../assets/images/noise_transparent@2x.png') repeat,
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
  display: flex;
  justify-content: center;
}

.container_footer {
  padding: 41px 40px 0px 40px;
  display: grid;
  grid-template-columns: 71% 1fr;
}

.footer__content {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__content h3 {
  color: #FFFFFF;
  max-width: 70%;
}

.footer__content a {
  color: #F1CDB3;
}

.footer__questions {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.footer__location {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.footer__questions__item,
.footer__location__item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  cursor: pointer;
}

.footer__questions__item:hover,
.footer__location__item:hover {
  transition: 0.5s;
  color: #FDDCC4;
}

.icon_email {
  width: 40px;
  height: 26px;
  background: center / contain no-repeat url('../../assets/icons/mail.svg');
}

.icon_phone {
  width: 40px;
  height: 32px;
  background: center / contain no-repeat url('../../assets/icons/phone.svg');
}

.icon_location {
  width: 22px;
  height: 32px;
  background: center / contain no-repeat url('../../assets/icons/pin.svg');
}

.footer__questions__item:hover .icon_email {
  transition: 0.5s;
  background: center / contain no-repeat url('../../assets/icons/mail_hover.svg');
}

.footer__questions__item:hover .icon_phone {
  transition: 0.5s;
  background: center / contain no-repeat url('../../assets/icons/phone_hover.svg');
}

.footer__location__item:hover .icon_location {
  transition: 0.5s;
  background: center / contain no-repeat url('../../assets/icons/pin_hover.svg');
}

.footer__image {
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

@media (max-width: 1230px) {
  .pets__cards {
    max-width: 85%;
  }

  .pets__card:nth-last-child(1),
  .pets__card:nth-last-child(2) {
    display: none;
  }
}

@media (max-width: 1076px) {
  .container_footer {
    grid-template-columns: 65% 1fr;
    gap: 5%
  }

  .footer__content h3 {
    max-width: 80%;
  }

  .pets__cards {
    max-width: 100%;
    justify-content: center;
    column-gap: 20px;
  }
}

@media (max-width: 1013px) {
  .container_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
  }

  .footer__content {
    justify-content: space-around;
  }

  .footer__image {
    justify-content: center;
  }
}

@media (max-width: 930px) {
  .container_pets {
    gap: 30px;
  }

  .pets__cards {
    max-width: 80%;
    justify-content: space-between;
    row-gap: 28px;
  }
}

@media (max-width: 815px) {
  .pets__cards {
    max-width: 100%;
    justify-content: center;
    column-gap: 39px;
    padding-bottom: 9px;
  }
}

@media (max-width: 769px) {
  .container_header {
    padding: 30px;
  }

  .container_footer {
    padding: 17px 44px 0px 45px;
    gap: 62px;
  }

  section {
    padding: 80px 40px 75px 40px;
  }

  h3 {
    font-size: calc((100vw - 320px)/(769 - 320) * (35 - 25) + 25px);
  }

  .footer__content {
    padding-left: 20px;
  }

  .footer__content h3 {
    max-width: 90%;
  }
}

@media (width < 768px) {
  .header__navigation {
    display: none;
  }

  .burger-menu {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
  }

  .burger__line {
    border: 2px solid #000000;
  }
}

@media (max-width: 703px) {
  .footer__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .footer__questions,
  .footer__location {
    text-align: center;
    align-items: center;
  }
}

@media (max-width: 677px) {
  .pets__cards {
    justify-content: space-around;
    column-gap: 11px;
    padding-bottom: 2px;
  }
}

@media (max-width: 631px) {
  .pets__card:nth-last-child(3),
  .pets__card:nth-last-child(4),
  .pets__card:nth-last-child(5) {
    display: none;
  }
}

@media (max-width: 492px) {
  .container_pets {
    align-items: center;
    gap: 40px;
  }
}

@media (max-width: 404px) {
  .pets__pagination {
    gap: 10px;
  }

  .container_footer {
    padding: 15px 10px 0px 10px;
    gap: 39px;
  }

  .footer__questions,
  .footer__location {
    align-items: center;
  }

  .pets {
    padding: 42px 11px 42px 12px;
  }

  .pets__card {
    padding-bottom: 32px;
  }

  .footer__content h3 {
    margin: 0 auto;
    text-align: center;
  }

  .footer__image {
    max-width: 260px;
    margin: 0 auto;
    padding-left: 0;
  }
}

@media (max-width: 321px) {
  .container_header {
    padding: 30px 20px;
  }

  .burger-menu {
    padding-top: 3px;
    gap: 7px;
  }

  section {
    padding: 42px 11px 42px 12px;
  }

  .footer__location {
    gap: 40px;
    text-align: left;
    align-items: normal;
  }

  .footer__content {
    gap: 36px;
    padding-left: 0px;
  }
}
