@font-face {
  font-family: "Georgia";
  src: url("/shelter/assets/fonts/georgia/georgia-regular.ttf") format("truetype"),
    url("/shelter/assets/fonts/georgia/Georgia.woff2")format('woff2'),
    url("/shelter/assets/fonts/georgia/Georgia.woff") format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url("/shelter/assets/fonts/arial/arial-regular.ttf") format("truetype"),
    url("/shelter/assets/fonts/arial/ArialMT.woff2")format('woff2'),
    url("/shelter/assets/fonts/arial/ArialMT.woff")format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url("/shelter/assets/fonts/arial/arial-italic.ttf") format("truetype"),
    url("/shelter/assets/fonts/arial/Arial-ItalicMT.woff2")format('woff2'),
    url("/shelter/assets/fonts/arial/Arial-ItalicMT.woff")format('woff');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

ol,
ul {
  list-style: none;
}


a:focus,
a:active {
  outline: none
}

a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
}

.main {
  display: flex;
  flex-direction: column;
}

.start-screen__container,
.footer {
  background: url('/shelter/assets/images/noise_transparent@2x.png') repeat,
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
}

.start-screen__content {
  padding: 29px 40px 0px 40px;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 60px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.logo:hover {
  transform: scale(1.01);
}

.logo__title {
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.logo__subtitle {
  font-family: 'Arial';
  font-size: 13px;
  line-height: 115.3%;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.navigation__list {
  font-family: "Arial";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2.25rem;
}

.navigation__link {
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  cursor: pointer;
  transition: 0.2s;
  padding-bottom: 3px;
}

.navigation__link:link,
.navigation__link:visited {
  color: #CDCDCD;
}

.navigation__link:hover {
  color: #FAFAFA;
}

.navigation__link:active,
.navigation__link_active {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
  cursor: auto;
}

.start-screen {
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.start-screen__description {
  display: flex;
  flex-direction: column;
  gap: 42px;
  max-width: 38.3%;
  padding-bottom: 78px;
}

.start-screen__description h2 {
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
  max-width: 89%;
}

.start-screen__description p {
  font-family: 'Arial';
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}


.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Georgia";
  border-radius: 100px;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  border: 2px solid #F1CDB3;
  cursor: pointer;
  transition: 0.5s;
}

.button>a {
  color: #292929;
}

.button_colored {
  width: 207px;
  height: 52px;
  background: #F1CDB3;
}

.button_colored:hover {
  background: #FDDCC4;
  border-color: #FDDCC4;
}

.start-screen__image {
  width: 698px;
  height: 728px;
  background: no-repeat url('/shelter/assets/images/start-screen-puppy.png');
}

section {
  padding: 80px 40px 100px 40px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.container_about {
  display: flex;
  justify-content: center;
  gap: 120px;
  align-items: center;
}

.about__image {
  width: 300px;
  height: 408px;
  background: center / contain no-repeat url('/shelter/assets/images/about-pets.png');
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 36%;
}

h3 {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.about__content h3 {
  max-width: 90%;
}

.about__content p {
  font-family: 'Arial';
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
  padding-top: 24px;
}

.pets {
  background: #F6F6F6;
}

.container_pets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  text-align: center;
}

.pets__slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button-arrow {
  cursor: pointer;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: center no-repeat url('/shelter/assets/icons/Arrow.svg');
  transition: 0.5s;
}

.button-arrow_prev {
  transform: rotate(180deg);
}

.button-arrow:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.pets__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 90px;
  padding: 0 53px;
}

.pets__card {
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FAFAFA;
  border-radius: 9px;
}

.pets__card img {
  width: 270px;
  height: 270px;
}

.pets__card span {
  padding: 30px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.pets__card:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  transition: 0.5s;
  background: #FFFFFF;
}

.pets__card:hover .button_bordered {
  background: #FDDCC4;
  border-color: #FDDCC4;
}

.button_bordered {
  width: 187px;
  height: 52px;
  background: #FAFAFA;
}

.pets .button_colored {
  width: 261px;
  height: 52px;
}

.container_help {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  text-align: center;
}

.help__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 55px 120px;
  max-width: 90%;
}

.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help__item span {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  padding-top: 30px;
}

.donation {
  background: #F6F6F6;
}

.container_donation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.donation__content {
  max-width: 77%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.donation__image {
  background: center / contain no-repeat url('/shelter/assets/images/donation-dog.png');
  width: 505px;
  height: 261px;
}

.donation__decription {
  max-width: 41%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.donation__bank {
  display: block;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.card-number {
  max-width: 349px;
  height: 43px;
  background: #F1CDB3;
  border-radius: 9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  line-height: 115%;
  padding: 0px 15px;
  letter-spacing: 0.06em;
  color: #545454;
  transition: 0.3s ease-in-out;
}

.card-number:hover{
  background: #FDDCC4;
}

.icon_card-number {
  width: 30px;
  height: 23px;
  background: center / contain no-repeat url('/shelter/assets/icons/credit-card.svg');
}

.donation__text {
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

.container_footer {
  padding: 40px 40px 0px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__content {
  padding-top: 15px;
  max-width: 61%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__content h3 {
  color: #FFFFFF;
}

.footer__content a {
  color: #F1CDB3;
}

.footer__questions {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.footer__location {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.footer__questions__item,
.footer__location__item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  cursor: pointer;
}

.footer__questions__item:hover,
.footer__location__item:hover {
  transition: 0.5s;
  color: #CDCDCD;
}

.icon_email {
  width: 40px;
  height: 26px;
  background: center / contain no-repeat url('/shelter/assets/icons/mail.svg');
}

.footer__questions__item:hover .icon_email {
  transition: 0.5s;
  width: 40px;
  height: 26px;
  background: center / contain no-repeat url('/shelter/assets/icons/mail_hover.svg');
}

.icon_phone {
  width: 40px;
  height: 32px;
  background: center / contain no-repeat url('/shelter/assets/icons/phone.svg');
}

.footer__questions__item:hover .icon_phone {
  transition: 0.5s;
  width: 40px;
  height: 32px;
  background: center / contain no-repeat url('/shelter/assets/icons/phone_hover.svg');
}

.icon_location {
  width: 22px;
  height: 32px;
  background: center / contain no-repeat url('/shelter/assets/icons/pin.svg');
}

.footer__location__item:hover .icon_location {
  transition: 0.5s;
  width: 22px;
  height: 32px;
  background: center / contain no-repeat url('/shelter/assets/icons/pin_hover.svg');
}

.footer__image {
  transition: 0.5s;
  width: 300px;
  height: 310px;
  background: no-repeat url('/shelter/assets/images/footer-puppy.png');
}
